# Jarak Data

Data dapat diketahui equivalensinya menggunakan penggurukan jarak dari dataset.

Sebelum itu, mari kita tarik sampel data dan beri label.

In [4]:
import pandas as pd
import itertools
import scipy.spatial.distance as spad

In [10]:
columns = ['Specimen Number', 'Eccentricity', 'Aspect Ratio', 'Elongation', 'Solidity']
df = pd.read_csv('leaf.csv', nrows=4, usecols=columns)
data = [[["","A","B","C","D"][int(x[0])]]+[round(i,2) for i in x[1:]] for x in df.values.tolist()]
df = pd.DataFrame(data, columns=df.columns)
#data = [x[1:] for x in df.values.tolist()] # Discard for REAL calculation
df

  Specimen Number  Eccentricity  Aspect Ratio  Elongation  Solidity
0               A          0.73          1.47        0.32      0.99
1               B          0.74          1.53        0.36      0.98
2               C          0.77          1.57        0.39      0.98
3               D          0.74          1.46        0.35      0.98

## Minkowski Distance

Jarak Minkowski adalah jarak spatial dengan M sebagai parameter real dan N sebagai jumlah dimensi pada entity.

Special Case: 
+ Jika M = 1 maka bisa disebut sbg Manhattan (Cityblock) distance
+ Jika M = 2 maka bisa disebut Euclidean distance.

In [14]:
columns = ['v1-v2', 'Manhattan distance (M=1)', 'Euclidean distance (M=2)']
data2 = [(
    a[0]+"-"+b[0],
    spad.cityblock(a[1:],b[1:]),
    spad.euclidean(a[1:],b[1:]))
    for a, b in itertools.combinations(data, 2)]
pd.DataFrame(data2,columns=columns)

  v1-v2  Manhattan distance (M=1)  Euclidean distance (M=2)
0   A-B                      0.12                  0.073485
1   A-C                      0.22                  0.128841
2   A-D                      0.06                  0.034641
3   B-C                      0.10                  0.058310
4   B-D                      0.08                  0.070711
5   C-D                      0.18                  0.120830

## Average Distance

## Weighted Distance

## Chord distance

## Mahalanobis distance

## Cosine Measure

## Pearson correlation

## Summary