# Jarak Data

Data dapat diketahui equivalensinya menggunakan penggurukan jarak dari dataset.

Sebelum itu, mari kita tarik sampel data dan beri label.

In [104]:
import pandas as pd
import itertools as it
import scipy.spatial.distance as spad

In [105]:
columns = ['Specimen Number', 'Eccentricity', 'Aspect Ratio', 'Elongation', 'Solidity']
df = pd.read_csv('leaf.csv', nrows=4, usecols=columns)
data = [[round(i,2) for i in x] for x in df.values.tolist()]
df = pd.DataFrame(data, columns=df.columns)
#data = [x[1:] for x in df.values.tolist()] # Discard for REAL calculation
df

   Specimen Number  Eccentricity  Aspect Ratio  Elongation  Solidity
0              1.0          0.73          1.47        0.32      0.99
1              2.0          0.74          1.53        0.36      0.98
2              3.0          0.77          1.57        0.39      0.98
3              4.0          0.74          1.46        0.35      0.98

# Minkowski Distance

Jarak Minkowski adalah jarak spatial dengan M sebagai parameter real dan N sebagai jumlah dimensi pada entity.

Special Case: Jika M = 1 maka bisa disebut sbg Manhattan (Cityblock) distance, dan M = 2 maka bisa disebut Euclidean distance.

In [106]:
columns = ['Specimen A', 'Specimen B', 'Manhattan distance (M=1)', 'Euclidean distance (M=2)']
distdata = list(itertools.combinations(data, 2))
data2 = [(
    d[0][1],
    d[1][1],
    spad.cityblock(d[0][1:],d[1][1:]),
    spad.euclidean(d[0][1:],d[1][1:]))
    for d in distdata]
pd.DataFrame(data2,columns=columns)

   Specimen A  Specimen B  Manhattan distance (M=1)  Euclidean distance (M=2)
0        0.73        0.74                      0.12                  0.073485
1        0.73        0.77                      0.22                  0.128841
2        0.73        0.74                      0.06                  0.034641
3        0.74        0.77                      0.10                  0.058310
4        0.74        0.74                      0.08                  0.070711
5        0.77        0.74                      0.18                  0.120830